@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100vh;
    color: #fff;
}

/* header*/

.header-content{
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#blu{
    color: #0084ff;
}

#blu>span{
    color: #fff;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#icons{
    display: flex;
    align-items: center;
}

#icons img{
    width: 30px;
    cursor: pointer;
}

#icons img:first-child{
    margin-right: 1rem;
}

nav ul li{
    margin-right: 2rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

img#menu{
    display: none;
}

@media (max-width: 890px) {
    #blu{
        font-size: 1.1rem;
    }

    #header--bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 1.2rem;
    }

    #header-bottom-side-left{
        padding-bottom: 6rem;
    }

    #header-bottom-side-right img{
        width: 50%;
    }

    #phrase{
        width: 50%;
        transform: translatex(50%);
    }

    #para{
        width: 50%;
        transform: translatex(50%);
    }

    .navbar{
        position: sticky;
    }

    nav{
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu{
        display: block;
    }

    img#menu{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
}

header{
    color: #000;
    background-image: radial-gradient(#fff, #c7c7c7 );
}

#header--bottom-side{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-bottom-side-left{
    height: 100vh;
    flex-basis: 45%;
    transform: translateY(25%);
}

#header-bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

#header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

#header-bottom-side-left button{
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

#header-bottom-side-left button:hover{
    transition: all 0.2s;
    background-color: #0054a3;
}

#header-bottom-side-right{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

#header-bottom-side-right img{
    width: 105%;
    transform: translateY(-8%);
}

/*header*/

/*main*/

main{
    color: #000;
    background-color: #ebebeb;
}

.background-color{
    background-color: #2c2c2c;
}

.page-content{
    margin: 0 auto;
}

.content-image{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 4rem;
}

.images{
    cursor: pointer;
}

.cols{
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.images{
    max-width: 390px;
}

.colss{
    display: grid;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.colss>*{
    cursor: pointer;
}

.colss>*:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
}

.pakal{
    font-size: 1.8rem;
    margin-top: 4rem;
    text-align: center;
}

.subtitle{
    width: 100px;
    height: 5px;
    background: #0084ff;
    margin: 8px auto 0 auto;
    border-radius: 9999px;
    margin-bottom: 3rem;
}

.product{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.images2{
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 0.3rem;
}

.prod-name{
    font-weight: 600;
    margin-left: 2rem;
}

.stars{
    color: #0084ff;
    margin-left: 2rem;
}

.prod-price{
    margin-left: 2rem;
}

.prod-price span{
    font-weight: bold;
}


section{
    background-color: #2c2c2c;
    width: 100%;
    height: 450px;
}

#header--bottom-side2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 3rem;
}

.exclusive{
    max-width: 60%;
    transform: translate(25%, -40%);
}

#header-bottom-side-left2{
    height: 100vh;
    flex-basis: 45%;
    transform: translate(-17%, 10%);
}

#header-bottom-side-left2 h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

#header-bottom-side-left2 p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

#header-bottom-side-left2 button{
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

#header-bottom-side-left2 button:hover{
    transition: all 0.2s;
    background-color: #0054a3;
}

@media (max-width: 890px) {
    .paka1{
        font-size: 1rem;
    }

    .colss{
        display: grid;
    }

    .content-image{
        grid-template-columns: repeat(1 1fr);
    }

    .cols-4{
        grid-template-columns: repeat(2 1fr);
    }
}

/*coments*/

.tudo{
    width: 70%;
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
}


.coments{
    transform: translatex(15%);
    height: 350px;
    display: flex;
    padding: 3rem ;
    justify-content: space-between;
    gap: 2rem;

}    

.coment{
    width: 370px;
    display: flex;
    align-items: center;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 15px #afafaf;
}

.coment:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
}

.coment p{
    margin: 5px 0;
    text-align: center;
}

.comname{
    font-weight: bold;
}

.coment p:first-child{
    color: #0084ff;
    font-size: 5rem;
    font-weight: bold;
    
}

/*coments*/


/*footer*/

.footer{
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.donwload{
    margin: 1rem 0;
}

.prima{
    font-weight: bold;
    padding-bottom: 3px;
}

.ultimas{
    padding-top: 0.4rem;
    display: flex;
    width: 180px;
    cursor: pointer;
}

.logo-footer{
    text-align: center;
}

.linkss h3{
    margin-bottom: 0.8rem;
}

.linkss ul{
    list-style: none;
}

.linkss ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.lop{
    font-size: 10px;
}
/*footer*/

